*{
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body{
  background-color: #1A1924;


}

.header {
  color: aliceblue;
  display: flex;
  justify-content: space-between;
  
margin: 60px ;
align-items: center;
 
}
.header .perfil{
  display: flex;
color: #633BBC;
justify-content: space-between;
}
.horario{
  display: flex;
  justify-content: center;
  color: white;
}
main{
  margin: 60px;
  color: white;
}
.conversa{
  color: aliceblue;
  border:1px solid;
  font-size: 12px;
  width: 300px; 
  background-color: #633BBC;
  border-radius: 8px;
  padding: 14px;
  margin-bottom: 20px;
  
}
.box2, .resposta{
 display: flex;
 justify-content:flex-end;


}
.box2 p{
  display: flex;
  justify-content: flex-end;

}
.resposta{  
  
  border: 1px  solid;
  background-color:#633bbc  ;
  border-radius: 8px;
  font-size: 12px;
  width: 152px;
  padding: 14px; 
  display: flex;
  
}

.foto{
  margin-right: 15px;
}

.box, p{
  display: flex;
 
}
.box1, p{
  display: flex;
}
.conversa2{
  color: aliceblue;
  border:1px solid;
  font-size: 12px;
  width: 400px; 
  background-color: #633BBC;
  border-radius: 8px;
  padding: 14px;
  margin-bottom: 20px;


}
.input input{
  height: 52px;
width: 311px;
display: flex;
justify-content: center;
border-radius: 999px;
 background-color:#282843;
 
 color: #E1E1E6;
 
 
 
 background-repeat: no-repeat;
 background-position: right;

 display: flex;
flex-direction: row; 
padding: 14px 24px;



 

}.input img{

}
.input{

  display: flex;
  justify-content: space-around;
  
}

.teste{
  position: relative;
    left: -45px;
}

.header .perfil p img{
  margin-right: 4px;
}




